@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-dark text-white;
    webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.degrade {
background: linear-gradient(to bottom, #000000, #121214);
}

.formSearch:focus {
width: 300px;
}


.container {
    max-width: 90%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 4px;
  }
  
 
  ::-webkit-scrollbar-track {
    background: #1e1e2d;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #8257E6;
  }