@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-dark text-white;
    webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.degrade {
background: linear-gradient(to bottom, #000000, #121214);
}

.formSearch:focus {
width: 300px;
}


.container {
    max-width: 90%;
    margin: 0 auto;
}